/* body {
    background: rgb(0,209,255);
    background: linear-gradient(306deg, rgba(0,209,255,1) 0%, rgba(0,111,255,1) 100%);
} */

#Mainbox {
    background-color: white;
    margin-top: 60px;
    border-radius: 30px;
    margin-bottom: 60px;
}

@media (max-width: 992px) {
    #Mainbox {    
        margin: 10px;
    }
}

#profile {
    border-radius: 50%;
}

.adopted-card {
    background: rgb(191,255,52);
    background: linear-gradient(128deg, rgba(191,255,52,1) 0%, rgba(255,255,255,1) 100%);
}