.blog-read-card {
    background-color: rgb(238, 238, 238);
    width: 60%;
}

.blog-read-body_sreekar {
    background-color: #149279;
    /* background: rgb(52,200,229); */
    /* background: linear-gradient(306deg, rgba(52,200,229,1) 0%, rgba(52,135,229,1) 100%); */
}